body { font-family: arial; font-size: 14px; }
.uriparser { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC; max-width: 655px; }
.uriparser input { font-family: Arial; padding: .4em .2em; width: 100%; }
.uriparser b { font-weight: bold; }
.uriparser p { margin-top: 0.9em; margin-bottom: 0.9em; }
.uriparser select[multiple] { width: 100%; height: 8em; }
.uriparser h2 { margin-top: 0.4em; }

.ko-grid { margin-bottom: 1em; width: 25em; border: 1px solid silver; background-color:White; }
.ko-grid th { text-align:left; background-color: Black; color:White; }
.ko-grid td, th { padding: 0.4em; }
.ko-grid tr:nth-child(odd) { background-color: #DDD; }
.ko-grid-pageLinks { margin-bottom: 1em; }
.ko-grid-pageLinks a { padding: 0.5em; }
.ko-grid-pageLinks a.selected { background-color: Black; color: White; }
.uriparser { overflow:auto } /* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

li { list-style-type: disc; margin-left: 20px; }